*{
  margin-left: 20px;
  margin-right: 20px;
}

.name-group{
  margin-bottom: 0;
}

.form{
  margin: 0;
}

.button-change-group{
  margin-bottom: 25px;
  margin-left: 10px;
  color: #ababab;
}

.icon {
  margin: 0;
  padding: 0;
  min-width: 100%;
}

.last-td{
  margin: 0;
  padding: 0;
  width: 35px;
}

table{
  margin: 0;
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 15px darkgray;
  td{
    padding: 10px;
    border-bottom: 0.5px darkgray solid;
  }
  td:last-child{
    border-left: 0.5px darkgray solid;
  }
  th{
    padding: 10px;
    text-align: left;
    background-color: #e8e8e8;
  }
}
