<h2 [class.name-group]="!search">{{title}}</h2>
<button *ngIf="!search" (click)="changeGroup()" class="button-change-group" mat-button>Изменить группу</button>

<ng-template #lessonTemplate let-dayForObject="dayForObject" let-dayForTitle="dayForTitle" let-timetable="timetable">
    <div class="timetable__dayOfTheWeek">
        <h3 class="timetable__day-title">{{dayForTitle}}</h3>
        <p *ngIf="timetable[dayForObject].length === 0">(нет пар)</p>
        <div class="timetable__lesson" *ngFor="let lesson of timetable[dayForObject]">
            <h4 class="name-subject">{{lesson.subject}} ({{lesson.typeLesson}})</h4>
            <p>{{lesson.time | time}}</p>
            <p>аудитория: {{lesson.lectureHall}}</p>
            <p>преподаватель: {{lesson.teacher}}</p>
        </div>
    </div>
</ng-template>

<div *ngIf="!search">
    <div class="timetable"  *ngFor="let item of currentGroup | async">
        <template
                  [ngTemplateOutlet]="lessonTemplate"
                  [ngTemplateOutletContext]="{
                      dayForObject: 'monday',
                      dayForTitle: 'ПОНЕДЕЛЬНИК',
                      timetable: item
                  }">
        </template>
        <template
                [ngTemplateOutlet]="lessonTemplate"
                [ngTemplateOutletContext]="{
                      dayForObject: 'tuesday',
                      dayForTitle: 'ВТОРНИК',
                      timetable: item
                  }">
        </template>
        <template
                [ngTemplateOutlet]="lessonTemplate"
                [ngTemplateOutletContext]="{
                      dayForObject: 'wednesday',
                      dayForTitle: 'СРЕДА',
                      timetable: item
                  }">
        </template>
        <template
                [ngTemplateOutlet]="lessonTemplate"
                [ngTemplateOutletContext]="{
                      dayForObject: 'thursday',
                      dayForTitle: 'ЧЕТВЕРГ',
                      timetable: item
                  }">
        </template>
        <template
                [ngTemplateOutlet]="lessonTemplate"
                [ngTemplateOutletContext]="{
                      dayForObject: 'friday',
                      dayForTitle: 'ПЯТНИЦА',
                      timetable: item
                  }">
        </template>
        <template
                [ngTemplateOutlet]="lessonTemplate"
                [ngTemplateOutletContext]="{
                      dayForObject: 'saturday',
                      dayForTitle: 'СУББОТА',
                      timetable: item
                  }">
        </template>
    </div>
</div>

<form class="form" (submit)="onSubmit()" *ngIf="search">
    <mat-form-field class="form__full-width" appearance="fill">
        <mat-label>Название группы</mat-label>
        <input type="text" matInput [formControl]="timetableControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option.group}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <button mat-flat-button color="primary">Загрузить расписание</button>
</form>

<p class="error-message" *ngIf="errorMessage">{{errorMessage}}</p>