*{
  margin-left: 10px;
}

h2{
  margin-left: 20px;
}

.name-group{
  margin-bottom: 0;
}

.button-change-group{
  color: #ababab;
}

.example-form {
  min-width: 150px;
  max-width: 300px;
  width: 100%;
}

.error-message{
  margin-left: 20px;
  color: #ff584d;
}

.example-full-width {
  width: 100%;
}