<h2 [class.name-group]="!search">{{title}}</h2>
<button *ngIf="!search" (click)="changeGroup()" class="button-change-group" mat-button>Изменить группу</button>
<div *ngIf="!search">
    <div class="timetable"  *ngFor="let item of currentGroup | async">
        <div class="timetable__dayOfTheWeek">
            <h3 class="timetable__day-title">ПОНЕДЕЛЬНИК</h3>
            <p *ngIf="item.monday.length === 0">(нет пар)</p>
            <div class="timetable__lesson" *ngFor="let lesson of item.monday">
                <h4 class="name-subject">{{lesson.subject}} ({{lesson.typeLesson}})</h4>
                <p>{{lesson.time | time}}</p>
                <p>аудитория: {{lesson.lectureHall}}</p>
                <p>преподаватель: {{lesson.teacher}}</p>
            </div>
        </div>
        <div [class.day-without-work]="item.tuesday.length === 0" class="timetable__dayOfTheWeek">
            <h3 class="timetable__day-title">ВТОРНИК</h3>
            <p *ngIf="item.tuesday.length === 0">(нет пар)</p>
            <div class="timetable__lesson" *ngFor="let lesson of item.tuesday">
                <h4>{{lesson.subject}} ({{lesson.typeLesson}})</h4>
                <p>{{lesson.time | time}}</p>
                <p>аудитория: {{lesson.lectureHall}}</p>
                <p>преподаватель: {{lesson.teacher}}</p>
            </div>
        </div>
        <div class="timetable__dayOfTheWeek">
            <h3 class="timetable__day-title">СРЕДА</h3>
            <p *ngIf="item.wednesday.length === 0">(нет пар)</p>
            <div class="timetable__lesson" *ngFor="let lesson of item.wednesday">
                <h4>{{lesson.subject}} ({{lesson.typeLesson}})</h4>
                <p>{{lesson.time | time}}</p>
                <p>аудитория: {{lesson.lectureHall}}</p>
                <p>преподаватель: {{lesson.teacher}}</p>
            </div>
        </div>
        <div class="timetable__dayOfTheWeek">
            <h3 class="timetable__day-title">ЧЕТВЕРГ</h3>
            <p *ngIf="item.thursday.length === 0">(нет пар)</p>
            <div class="timetable__lesson" *ngFor="let lesson of item.thursday">
                <h4>{{lesson.subject}} ({{lesson.typeLesson}})</h4>
                <p>{{lesson.time | time}}</p>
                <p>аудитория: {{lesson.lectureHall}}</p>
                <p>преподаватель: {{lesson.teacher}}</p>
            </div>
        </div>
        <div class="timetable__dayOfTheWeek">
            <h3 class="timetable__day-title">ПЯТНИЦА</h3>
            <p *ngIf="item.friday.length === 0">(нет пар)</p>
            <div class="timetable__lesson" *ngFor="let lesson of item.friday">
                <h4>{{lesson.subject}} ({{lesson.typeLesson}})</h4>
                <p>{{lesson.time | time}}</p>
                <p>аудитория: {{lesson.lectureHall}}</p>
                <p>преподаватель: {{lesson.teacher}}</p>
            </div>
        </div>
        <div class="timetable__dayOfTheWeek">
            <h3 class="timetable__day-title">СУББОТА</h3>
            <p *ngIf="item.saturday.length === 0">(нет пар)</p>
            <div class="timetable__lesson" *ngFor="let lesson of item.saturday">
                <h4>{{lesson.subject}} ({{lesson.typeLesson}})</h4>
                <p>{{lesson.time | time}}</p>
                <p>аудитория: {{lesson.lectureHall}}</p>
                <p>преподаватель: {{lesson.teacher}}</p>
            </div>
        </div>
    </div>
</div>

<form class="form" (submit)="onSubmit()" *ngIf="search">
    <mat-form-field class="form__full-width" appearance="fill">
        <mat-label>Название группы</mat-label>
        <input type="text" matInput [formControl]="timetableControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option.group}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <button mat-flat-button color="primary">Загрузить расписание</button>
</form>

<p class="error-message" *ngIf="errorMessage">{{errorMessage}}</p>